{{- $serviceName := "logfire-ff-query-worker" }}
{{- $defaultCpu := "1" -}}
{{- $serviceValues := get .Values $serviceName | default dict -}}
{{- $resources := get $serviceValues "resources" | default dict -}}
{{- $cpu := get $resources "cpu" | default $defaultCpu -}}
{{- if (index .Values $serviceName | default dict).enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $serviceName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ $serviceName }}
  annotations:
    {{- include "logfire.postgresSecret.annotations" . | nindent 4 }}
    {{- include "logfire.annotations" (dict "Values" .Values "serviceName" $serviceName) | nindent 4 }}
spec:
  {{- if not (hasKey (index .Values $serviceName | default dict) "autoscaling") }}
  replicas: {{ dig "replicas" "1" (index .Values $serviceName | default dict) }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "logfire.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ $serviceName }}
  template:
    metadata:
      labels:
        {{- include "logfire.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: {{ $serviceName }}
      annotations:
        checksum/ff-config: {{ include (print $.Template.BasePath "/logfire-ff-config.yaml") . | sha256sum }}
        {{- if or (not .Values.postgresSecret.enabled) (empty .Values.postgresSecret.annotations) }}
        checksum/logfire-postgres-ff-dsn: {{ include "utils.secretChecksum" (dict "ctx" . "name" (include "logfire.postgresSecretName" .) "key" "postgresFFDsn" )}}
        {{- end }}
        {{- include "logfire.podAnnotations" (dict "Values" .Values "serviceName" $serviceName) | nindent 8 }}
    spec:
      priorityClassName: {{ .Values.priorityClassName }}
      {{- with .Values.serviceAccountName }}
      serviceAccountName: {{ . }}
      {{- end}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- range . }}
        - name: {{ . | quote }}
      {{- end }}
      {{- end }}
      {{- with (index .Values $serviceName | default dict).initContainers }}
      initContainers:
        {{- . | toYaml | nindent 8 }}
      {{- end}}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      containers:
        - name: {{ $serviceName }}
          image: '{{ .Values.image.repository | default "" }}{{ .Values.image.fusionfireImage }}:{{ include "logfire.defaultTag" .  }}'
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- include "logfire.resources" (dict "Values" .Values "serviceName" $serviceName) | nindent 10 }}
          command:
            - fusionfire
            - query-worker
            - --host=0.0.0.0
            - --port=8011
          ports:
            - containerPort: 8011
          envFrom:
            - configMapRef:
                name: logfire-ff-config
          env:
            {{- include "logfire.otlpExporterEnv" $serviceName | nindent 12 }}
            - name: FF_ENABLE_SPILL_TO_DISK
              value: "true"
            - name: FF_TEMP_DIR
              value: /scratch/fusionfire
            - name: FF_QUERY_PARALLELISM
              value: {{ (get (get .Values $serviceName | default dict) "queryParallelism" | default "4" | quote) }}
            - name: FF_USE_PARQUET_STATS_CHANCE
              value: "0.0"
            - name: FF_PG_POOL_MAX_CONNECTIONS
              value: "4"
            - name: FF_PG_POOL_MIN_CONNECTIONS
              value: "1"
            - name: FF_IO_THREADS
              value: {{ $cpu | quote }}
            - name: FF_DATAFUSION_THREADS
              {{- $dataFusionThreads := sub (atoi $cpu) 1 }}
              value: {{ (gt $dataFusionThreads 0) | ternary $dataFusionThreads "1" | quote }}
            - name: FF_DATAFUSION_MEMORY_LIMIT
              value: {{ (get (get .Values $serviceName | default dict) "datafusionMemory" | default "512MB" | quote) }}
            - name: FF_DATAFUSION_THREAD_STACK_SIZE
              value: "8MB"
            - name: FF_IO_THREAD_STACK_SIZE
              value: "8MB"
            - name: PG_DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "logfire.postgresSecretName" . }}
                  key: postgresFFDsn
            {{- include "logfire.objectStoreEnv" . | nindent 12 -}}
            {{- with (index .Values $serviceName | default dict).env }}
              {{- . | toYaml | nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: {{ include "logfire.scratchVolumeName" . }}
              mountPath: /scratch
          livenessProbe:
            httpGet:
              path: /health
              port: 8011
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 8011
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
      volumes:
      {{- include "logfire.scratchVolume" (get (get .Values $serviceName | default dict) "scratchVolume" | default dict) | nindent 6 }}
{{- template "logfire.autoscaler" (dict "Values" .Values "serviceName" $serviceName) }}
{{- template "logfire.pdb" (dict "root" $ "serviceName" $serviceName) }}
{{- end }}
