{{- if and (include "logfire.inClusterTls.enabled" . | eq "true") (include "logfire.inClusterTls.certs.isCertManager" . | eq "true") -}}
{{- $namespace := .Release.Namespace -}}
{{- $clusterDomain := .Values.clusterDomain | default "cluster.local" -}}
{{- $autoIssuer := include "logfire.inClusterTls.certs.certManager.autoIssuer" . | eq "true" -}}
{{- $useHooks := dig "deployCertManager" false .Values.dev -}}
{{- $selfSignedIssuerName := printf "%s-incluster-selfsigned" .Release.Name -}}
{{- $caIssuerName := printf "%s-incluster-ca" .Release.Name -}}
{{- $caSecretName := include "logfire.inClusterTls.certs.certManager.autoCaSecretName" . -}}
{{- $frontendServiceName := "logfire-frontend-service" -}}
{{- $frontendCertSecretName := include "logfire.inClusterTls.secretName" (dict "ctx" . "serviceName" $frontendServiceName) -}}

{{- if $autoIssuer }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ $selfSignedIssuerName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ $caIssuerName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  isCA: true
  commonName: {{ printf "%s in-cluster CA" .Release.Name | quote }}
  secretName: {{ $caSecretName }}
  duration: 87600h # 10y
  privateKey:
    algorithm: RSA
    size: 2048
  issuerRef:
    name: {{ $selfSignedIssuerName }}
    kind: Issuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ $caIssuerName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  ca:
    secretName: {{ $caSecretName }}
---
{{- end }}

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ printf "%s-incluster-tls" $frontendServiceName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  secretName: {{ $frontendCertSecretName }}
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  privateKey:
    algorithm: RSA
    size: 2048
  dnsNames:
    - {{ $frontendServiceName }}
    - {{ printf "%s.%s" $frontendServiceName $namespace }}
    - {{ printf "%s.%s.svc" $frontendServiceName $namespace }}
    - {{ printf "%s.%s.svc.%s" $frontendServiceName $namespace $clusterDomain }}
  issuerRef:
    {{- if $autoIssuer }}
    name: {{ $caIssuerName }}
    kind: Issuer
    group: cert-manager.io
    {{- else }}
    name: {{ include "logfire.inClusterTls.certs.certManager.issuerRef.name" . }}
    kind: {{ include "logfire.inClusterTls.certs.certManager.issuerRef.kind" . }}
    group: {{ include "logfire.inClusterTls.certs.certManager.issuerRef.group" . }}
    {{- end }}

{{- end }}
