{{- if and (include "logfire.inClusterTls.enabled" . | eq "true") (include "logfire.inClusterTls.certs.isCertManager" . | eq "true") -}}
{{- $namespace := .Release.Namespace -}}
{{- $clusterDomain := .Values.clusterDomain | default "cluster.local" -}}
{{- $autoIssuer := include "logfire.inClusterTls.certs.certManager.autoIssuer" . | eq "true" -}}
{{- $useHooks := dig "deployCertManager" false .Values.dev -}}
{{- $selfSignedIssuerName := printf "%s-incluster-selfsigned" .Release.Name -}}
{{- $caIssuerName := printf "%s-incluster-ca" .Release.Name -}}
{{- $caSecretName := include "logfire.inClusterTls.certs.certManager.autoCaSecretName" . -}}

{{- $certServices := list
  (dict "serviceName" "logfire-backend")
  (dict "serviceName" "logfire-service")
  (dict "serviceName" "logfire-frontend-service")
  (dict "serviceName" "logfire-dex")
  (dict "serviceName" "logfire-ff-ingest")
  (dict "serviceName" "logfire-ff-ingest-processor")
  (dict "serviceName" "logfire-ff-cache-byte")
  (dict "serviceName" "logfire-ff-cache-filter")
  (dict "serviceName" "logfire-ff-cache-ipc")
  (dict "serviceName" "logfire-ff-crud-api")
  (dict "serviceName" "logfire-ff-maintenance-scheduler")
  (dict "serviceName" "logfire-ff-maintenance-worker")
  (dict "serviceName" "logfire-ff-compaction-worker")
  (dict "serviceName" "logfire-ff-query-api")
  (dict "serviceName" "logfire-ff-query-worker")
  (dict "serviceName" "logfire-ai-gateway")
-}}

{{- if $autoIssuer }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ $selfSignedIssuerName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ $caIssuerName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  isCA: true
  commonName: {{ printf "%s in-cluster CA" .Release.Name | quote }}
  secretName: {{ $caSecretName }}
  duration: 87600h # 10y
  privateKey:
    algorithm: RSA
    size: 2048
    rotationPolicy: Never
  issuerRef:
    name: {{ $selfSignedIssuerName }}
    kind: Issuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ $caIssuerName }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  ca:
    secretName: {{ $caSecretName }}
---
{{ end }}

{{- range $svc := $certServices }}
{{- $serviceName := required "in-cluster certManager: serviceName is required" (get $svc "serviceName") -}}
{{- $certSecretName := include "logfire.inClusterTls.secretName" (dict "ctx" $ "serviceName" $serviceName) -}}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ printf "%s-incluster-tls" $serviceName }}
  labels:
    {{- include "logfire.labels" $ | nindent 4 }}
  {{- if $useHooks }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "10"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- end }}
spec:
  secretName: {{ $certSecretName }}
  duration: 87600h # 10y
  renewBefore: 720h # 30d
  privateKey:
    algorithm: RSA
    size: 2048
    rotationPolicy: Never
  dnsNames:
    - {{ $serviceName }}
    - {{ printf "%s.%s" $serviceName $namespace }}
    - {{ printf "%s.%s.svc" $serviceName $namespace }}
    - {{ printf "%s.%s.svc.%s" $serviceName $namespace $clusterDomain }}
    {{- range $extraServiceName := (get $svc "extraServiceNames" | default list) }}
    - {{ $extraServiceName }}
    - {{ printf "%s.%s" $extraServiceName $namespace }}
    - {{ printf "%s.%s.svc" $extraServiceName $namespace }}
    - {{ printf "%s.%s.svc.%s" $extraServiceName $namespace $clusterDomain }}
    {{- end }}
  issuerRef:
    {{- if $autoIssuer }}
    name: {{ $caIssuerName }}
    kind: Issuer
    group: cert-manager.io
    {{- else }}
    name: {{ include "logfire.inClusterTls.certs.certManager.issuerRef.name" $ }}
    kind: {{ include "logfire.inClusterTls.certs.certManager.issuerRef.kind" $ }}
    group: {{ include "logfire.inClusterTls.certs.certManager.issuerRef.group" $ }}
    {{- end }}
---
{{ end }}

{{- end }}
