{{- $serviceName := "logfire-backend-migrations" }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logfire.backendMigrations.name" . }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
    {{- include "logfire.workloadLabels" (dict "Values" .Values "serviceName" $serviceName) | nindent 4 }}
    app.kubernetes.io/component: logfire-backend-migrations
  annotations:
    {{- if not .Values.dev.deployPostgres }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- end }}
    {{- include "logfire.hooksAnnotations" . | nindent 4 }}
spec:
  backoffLimit: 5
  activeDeadlineSeconds: 300
  template:
    metadata:
      annotations:
        {{- include "logfire.hooksAnnotations" . | nindent 8 }}
      labels:
        {{- include "logfire.selectorLabels" . | nindent 8 }}
        {{- include "logfire.podLabels" (dict "Values" .Values "serviceName" $serviceName) | nindent 8 }}
        app.kubernetes.io/component: logfire-backend-migrations
    spec:
      serviceAccountName: {{ include "logfire.hookServiceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- range . }}
        - name: {{ . | quote }}
      {{- end }}
      {{- end }}
      restartPolicy: OnFailure
      {{- include "logfire.initContainers" (dict "ctx" . "serviceName" $serviceName) | nindent 6}}
      {{- include "logfire.nodeSelector" (dict "Values" .Values "serviceName" $serviceName) | nindent 6}}
      {{- include "logfire.affinity" (dict "Values" .Values "serviceName" $serviceName) | nindent 6}}
      {{- include "logfire.tolerations" (dict "Values" .Values "serviceName" $serviceName) | nindent 6}}
      {{- include "logfire.topologySpreadConstraints" (dict "Values" .Values "serviceName" $serviceName) | nindent 6}}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: logfire-backend-migrations
          image: '{{ .Values.image.repository | default "" }}{{ .Values.image.backendImage }}:{{ include "logfire.serviceTag" (dict "Values" .Values "serviceName" $serviceName "Chart" .Chart) }}'
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          command:
            - "uv"
            - "run"
            - "--no-sync"
            - "src/packages/logfire-db/logfire_db/migrations/main.py"
          env:
            - name: LOGFIRE_SEND_TO_LOGFIRE
              value: "false"
            - name: ON_PREM
              value: "true"
            - name: CRUD_MIGRATIONS_RESPECT_AUTO_RUN_FLAG
              value: "true"
            - name: CRUD_PG_DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "logfire.postgresSecretName" . }}
                  key: postgresDsn
