apiVersion: batch/v1
kind: Job
metadata:
  name: logfire-backend-migrations{{- if .Values.dev.deployPostgres }}-{{ .Release.Revision }}{{- end }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
    app.kubernetes.io/component: logfire-backend-migrations
  annotations:
   {{- if not .Values.dev.deployPostgres }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- end }}
    {{- include "logfire.hooksAnnotations" . | nindent 4 }}
spec:
  backoffLimit: 5
  activeDeadlineSeconds: 300
  template:
    metadata:
      labels:
        {{- include "logfire.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: logfire-backend-migrations
    spec:
      {{- with .Values.serviceAccountName }}
      serviceAccountName: {{ . }}
      {{- end}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- range . }}
        - name: {{ . | quote }}
      {{- end }}
      {{- end }}
      restartPolicy: OnFailure
      {{- with (index .Values "logfire-backend-migrations" | default dict).initContainers }}
      initContainers:
        {{- . | toYaml | nindent 8 }}
      {{- end}}
      containers:
        - name: logfire-backend-migrations
          image: '{{ .Values.image.repository | default "" }}{{ .Values.image.backendImage }}:{{ include "logfire.defaultTag" .  }}'
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          command:
            - "uv"
            - "run"
            - "--no-sync"
            - "src/packages/logfire-db/logfire_db/migrations/main.py"
          env:
            - name: LOGFIRE_SEND_TO_LOGFIRE
              value: "false"
            - name: CRUD_PG_DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "logfire.postgresSecretName" . }}
                  key: postgresDsn
