apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logfire.ffMigrations.name" . }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
    app.kubernetes.io/component: logfire-ff-migrations
  annotations:
    {{- if not .Values.dev.deployPostgres }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- end }}
    {{- include "logfire.hooksAnnotations" . | nindent 4 }}
spec:
  backoffLimit: 5
  template:
    metadata:
      labels:
        {{- include "logfire.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: logfire-ff-migrations
    spec:
      priorityClassName: {{ .Values.priorityClassName }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.serviceAccountName }}
      serviceAccountName: {{ . }}
      {{- end}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- range . }}
        - name: {{ . | quote }}
      {{- end }}
      {{- end }}
      restartPolicy: OnFailure
      {{- with (index .Values "logfire-ff-migrations" | default dict).initContainers }}
      initContainers:
        {{- . | toYaml | nindent 8 }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end}}
      containers:
        - name: logfire-ff-migrations
          image: '{{ .Values.image.repository | default "" }}{{ .Values.image.fusionfireImage }}:{{ include "logfire.defaultTag" .  }}'
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          command:
            - "fusionfire"
            - "migrate"
          envFrom:
            - configMapRef:
                name: logfire-ff-base-config
          env:
            - name: PG_DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "logfire.postgresSecretName" . }}
                  key: postgresFFDsn
            - name: FF_ENABLE_PG_INGEST
              value: "false"
            - name: FF_SEND_TO_LOGFIRE
              value: "false"
            - name: FF_CONSOLE_MODE
              value: "force"
