{{- $serviceName := "logfire-ff-migrations" }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logfire.ffMigrations.name" . }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
    {{- include "logfire.workloadLabels" (dict "Values" .Values "serviceName" $serviceName) | nindent 4 }}
    app.kubernetes.io/component: logfire-ff-migrations
  annotations:
    {{- if not .Values.dev.deployPostgres }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- end }}
    {{- include "logfire.hooksAnnotations" . | nindent 4 }}
spec:
  backoffLimit: 5
  template:
    metadata:
      annotations:
        {{- include "logfire.hooksAnnotations" . | nindent 8 }}
      labels:
        {{- include "logfire.selectorLabels" . | nindent 8 }}
        {{- include "logfire.podLabels" (dict "Values" .Values "serviceName" $serviceName) | nindent 8 }}
        app.kubernetes.io/component: logfire-ff-migrations
    spec:
      priorityClassName: {{ .Values.priorityClassName }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "logfire.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- range . }}
        - name: {{ . | quote }}
      {{- end }}
      {{- end }}
      restartPolicy: OnFailure
      {{- with (index .Values "logfire-ff-migrations" | default dict).initContainers }}
      initContainers:
        {{- . | toYaml | nindent 8 }}
      {{- end}}
      {{- include "logfire.nodeSelector" (dict "Values" .Values "serviceName" $serviceName) | nindent 6}}
      {{- include "logfire.affinity" (dict "Values" .Values "serviceName" $serviceName) | nindent 6}}
      {{- include "logfire.tolerations" (dict "Values" .Values "serviceName" $serviceName) | nindent 6}}
      containers:
        - name: logfire-ff-migrations
          image: '{{ .Values.image.repository | default "" }}{{ .Values.image.fusionfireImage }}:{{ include "logfire.serviceTag" (dict "Values" .Values "serviceName" $serviceName "Chart" .Chart) }}'
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          command:
            - "fusionfire"
            - "migrate"
          env:
            - name: PG_DSN
              valueFrom:
                secretKeyRef:
                  name: {{ include "logfire.postgresSecretName" . }}
                  key: postgresFFDsn
            - name: FF_SEND_TO_LOGFIRE
              value: "false"
            - name: FF_FORCE_CONSOLE_LOGGING
              value: "true"
            - name: RUST_BACKTRACE
              value: "full"
            - name: RUST_LOG
              value: "info"
