{{- if .Values.ingress.enabled -}}
{{- $hosts := .Values.ingress.hostnames -}}
{{- if not $hosts -}}
  {{- if .Values.ingress.hostname -}}
    {{- $hosts = list .Values.ingress.hostname -}}
  {{- end -}}
{{- end -}}
{{- $backendPort := 8080 -}}
{{- if (include "logfire.inClusterTls.enabled" . | eq "true") -}}
  {{- $backendPort = .Values.inClusterTls.httpsPort -}}
{{- end -}}
{{- $annotations := deepCopy (.Values.ingress.annotations | default dict) -}}
{{- $ingressClassName := .Values.ingress.ingressClassName | default "" -}}
{{- if and (include "logfire.inClusterTls.enabled" . | eq "true") (or (eq $ingressClassName "") (contains "nginx" $ingressClassName)) (not (hasKey $annotations "nginx.ingress.kubernetes.io/backend-protocol")) -}}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/backend-protocol" "HTTPS" -}}
{{- end -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- if $annotations }}
  annotations:
    {{- toYaml $annotations | nindent 4 }}
  {{- end }}
  name: logfire-ingress
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
spec:
  {{- with .Values.ingress.ingressClassName }}
  ingressClassName: {{ . }}
  {{- end }}
  rules:
    {{- range $hosts }}
    - host: {{ . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: logfire-service
                port:
                  number: {{ $backendPort }}
    {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    - secretName: {{ .Values.ingress.secretName }}
      hosts:
        {{- toYaml $hosts | nindent 8 }}
  {{- end }}
{{- end }}
