{{- $secrets := list "logfire-jwt-secret" "logfire-meta-write-token" "logfire-meta-frontend-token" "logfire-dex-client-secret" "logfire-unsubscribe-secret" }}
{{- $adminSecrets := list "logfire-admin-password" "logfire-admin-totp-secret" "logfire-admin-totp-recovery-codes" }}
{{- if (not (get (get .Values "adminSecret" | default dict) "enabled")) }}
{{- range $secret := $adminSecrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secret }}
  labels:
    {{- include "logfire.labels" $ | nindent 4 }}
    app.kubernetes.io/component: secrets
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
data:
  {{- $secretObj := (lookup "v1" "Secret" $.Release.Namespace $secret ) | default dict }}
  {{- $secretData := (get $secretObj "data") | default dict }}
  {{- if eq $secret "logfire-admin-totp-recovery-codes" }}
  {{- $secretVal := (get $secretData $secret ) | default (printf "[\"%s\"]" (randAlphaNum 32 | upper ) | b64enc) }}
  {{ $secret }}: {{ $secretVal | quote }}
  {{- else if eq $secret "logfire-admin-totp-secret"}}
  {{- $secretVal := (get $secretData $secret ) | default (randAlphaNum 32 | upper | b32enc | b64enc) }}
  {{ $secret }}: {{ $secretVal | quote }}
  {{- else }}
  {{- $secretVal := (get $secretData $secret ) | default (randAlphaNum 32 | upper | b64enc) }}
  {{ $secret }}: {{ $secretVal | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- if (not (get (get .Values "existingSecret" | default dict) "enabled")) }}
{{- range $secret := $secrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secret }}
  labels:
    {{- include "logfire.labels" $ | nindent 4 }}
    app.kubernetes.io/component: secrets
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
data:
  {{- $secretObj := (lookup "v1" "Secret" $.Release.Namespace $secret ) | default dict }}
  {{- $secretData := (get $secretObj "data") | default dict }}
  {{- $secretVal := (get $secretData $secret ) | default (randAlphaNum 32 | b64enc) }}
  {{ $secret }}: {{ $secretVal | quote }}
{{- end }}
{{- end }}
{{- if not .Values.postgresSecret.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "logfire.postgresSecretName" . }}
  labels:
    {{- include "logfire.labels" . | nindent 4 }}
  annotations:
    {{- $hooksAnns := .Values.hooksAnnotations | default dict }}
    {{- if and (empty $hooksAnns) (not .Values.dev.deployPostgres) }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    {{- end }}
    {{- range $key, $value := $hooksAnns }}
    {{- if ne $key "argocd.argoproj.io/hook-delete-policy" }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    {{- if and (index $hooksAnns "argocd.argoproj.io/hook") (not (hasKey $hooksAnns "argocd.argoproj.io/sync-wave")) }}
    argocd.argoproj.io/sync-wave: "-10"
    {{- end }}
type: Opaque
data:
  postgresDsn: {{ .Values.postgresDsn | b64enc | quote }}
  postgresFFDsn: {{ .Values.postgresFFDsn | b64enc | quote }}
{{- end }}
