apiVersion: v2
version: 0.6.1
name: logfire
description: Helm chart for self-hosted Pydantic Logfire

appVersion: "511015e2"

dependencies:
  - name: postgresql
    version: "16.7.15"
    repository: "https://charts.bitnami.com/bitnami"
    condition: dev.deployPostgres
  - name: minio
    version: "17.0.9"
    repository: "https://charts.bitnami.com/bitnami"
    condition: dev.deployMinio
