apiVersion: v2
version: 0.9.6
name: logfire
description: Helm chart for self-hosted Pydantic Logfire

appVersion: "9bb85185"

dependencies:
  - name: postgresql
    version: "16.7.27"
    repository: "https://charts.bitnami.com/bitnami"
    condition: dev.deployPostgres
  - name: minio
    version: "17.0.21"
    repository: "https://charts.bitnami.com/bitnami"
    condition: dev.deployMinio
