apiVersion: v2
version: 0.10.1
name: logfire
description: Helm chart for self-hosted Pydantic Logfire

appVersion: "bef6921a"

dependencies:
  - name: postgresql
    version: "16.7.27"
    repository: "https://charts.bitnami.com/bitnami"
    condition: dev.deployPostgres
  - name: minio
    version: "17.0.21"
    repository: "https://charts.bitnami.com/bitnami"
    condition: dev.deployMinio
