adminEmail: peter@example.dev

# These values are for development testing using k3s
# See https://github.com/cetra3/kubernetes-activitypub-testing for setup details
image:
  pullPolicy: Always
  repository: registry:5000/
  # -- The tag/version of the docker images to use
  tag: latest
  # @ignored
  workerImage: logfire-python-prod
  # @ignored
  backendImage: logfire-python-prod
  # @ignored
  frontendImage: logfire-frontend-prod
  # @ignored
  schedulerImage: logfire-python-prod
  # @ignored
  fusionfireImage: fusionfire
  # @ignored
  dexImage: dex

ingress:
  enabled: true
  tls: true
  hostname: logfire.k3s.local
  maildevHostname: maildev.k3s.local
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: k3s-ca-issuer


objectStore:
  uri: s3://logfire
  env:
    # Defaults we configure for MinIO
    # Do NOT use this in production!
    # This does not talk to actual AWS,
    # we just use MinIO as an S3 compatible implementation
    # and pipe these env vars into our client.
    AWS_ACCESS_KEY_ID: logfire-minio
    AWS_SECRET_ACCESS_KEY: logfire-minio
    AWS_ENDPOINT: http://logfire-minio:9000
    AWS_ALLOW_HTTP: "true"

dev:
  deployPostgres: true
  deployMinio: true
  deployMaildev: true

postgresDsn: postgres://postgres:postgres@logfire-postgres:5432/crud
postgresFFDsn: postgres://postgres:postgres@logfire-postgres:5432/ff
postgresIngestDsn: postgres://postgres:postgres@logfire-postgres:5432/ingest


# -- Specify a priority class name to set [pod priority](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/#pod-priority).
priorityClassName: ""

# -- Pod [security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod).
# See the [API reference](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#security-context) for details.
podSecurityContext: {}
  # fsGroup: 2000

# -- Define the [count of deployment revisions](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#clean-up-policy) to be kept.
# May be set to 0 in case of GitOps deployment approach.
revisionHistoryLimit: 2

logfire-dex:
  config:
    storage:
      type: postgres
      config:
        host: logfire-postgres
        port: 5432
        user: postgres
        database: dex
        password: postgres
        ssl:
          mode: disable
    staticClients: []
